//COLORS
$color-primary: #6dc85b;
$color-primary-light: #dafcd3;

$color-secondary: #184e77;
$color-secondary-light: #168aad;

$color-blue: #0d6efd;
$color-blue-light: #0dcaf0;
$color-red: #dc3545;
$color-green: #198754;

$color-black: #25313c;
$color-white: #ffffff;
$color-grey: #6d7d8b;
$color-lgrey: #bbc8d4;
$color-ulgrey: #dae3ea;

$color-star: #ffe234;

//COLORS
// $color-primary: #6e73f0;
$color-primary-dark: #393fd4;

// $color-secondary: #87b0f5;
$color-secondary-dark: #5591f5;

$color-tertiary-light: #507485;
$color-tertiary-dark: #032349;

$color-logo: #4751cc;
$color-heading-1: #333c6a;
$color-heading-2: #6165c9;

// $color-white: #fff;
// $color-black: #000;
$color-success: #57cc99;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
