<footer class="footer">
	<div class="footer__main">
		<div class="footer__logo-box">
			<img class="footer__logo" src="/assets/logo-footer.svg" alt="" />
		</div>
		<div class="footer__text">
			&copy; All Rights Reserved* | 2020 - 2024
		</div>
	</div>
	<div class="footer__small">
		* It was originally YelpCamp by
		<a class="link" target="_blank" href="https://coltsteele.com"
			>Colt Steele</a
		>
	</div>
</footer>
