<% layout("./common/boilerplate") %>
<main class="error">
	<div class="error__header">
		<img
			class="error__icon"
			src="/assets/icons/error.svg"
			alt="red warning icon" />
		<div class="error__header-text">Error</div>
		<div class="error__status">
			<div class="error__status-code error__header-text">
				<%= err.statusCode %>
			</div>
			<div class="error__status-text u-center-text">(status code)</div>
		</div>
	</div>
	<div class="error__info">
		<div class="error__default-text">Something went wrong!</div>
		<div class="error__message">Message: <%= err.message %></div>
		<a href="javascript:history.back()" class="btn btn--primary">
			Go back &#x21A9;
		</a>
	</div>
</main>
