<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SecretSpots | Welcome</title>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body class="home">
		<div class="home-nav">
			<div class="home-nav__logo-box">
				<a class="home-nav__logo-link" href="/"
					><img
						class="home-nav__logo"
						src="assets/logo-white.svg"
						alt="SecretSpots logo"
				/></a>
			</div>
			<nav class="home-nav__nav">
				<ul class="home-nav__list">
					<li class="home-nav__item">
						<a href="/" class="home-nav__link active">Home</a>
					</li>
					<li class="home-nav__item">
						<a href="/spots" class="home-nav__link">All Spots</a>
					</li>
					<% if(currentUser === undefined) { %>
					<li class="home-nav__item">
						<a href="/login" class="home-nav__link">Login</a>
					</li>
					<li class="home-nav__item">
						<a href="/register" class="home-nav__link">Register</a>
					</li>
					<% } else { %>
					<li class="home-nav__item">
						<a href="/logout" class="home-nav__link">Logout</a>
					</li>
					<% } %>
				</ul>
			</nav>
		</div>
		<main class="home__main u-white-text u-center-text">
			<div class="heading-primary">SecretSpots</div>
			<div class="home__text">
				Unearth Hidden Gems: Explore underrated places beyond the
				ordinary. Wanderlust awaits! Discover our curated list now. If
				you have visited some places, we would love a review.
			</div>
			<a href="/spots" class="btn btn--home">View Spots</a>
		</main>
		<footer class="home__footer u-center-text">
			&copy; All Rights Reserved | 2020 - 2024
		</footer>
	</body>
</html>
