<% layout("./common/boilerplate") %>
<main class="auth auth--login">
	<section class="auth__image-box">
		<img
			class="auth__image auth__image--login"
			src="/assets/img/login-cover.jpg"
			alt="a girl travelling and enjoying scenery" />
	</section>
	<section class="auth__main auth__main--login">
		<div class="auth__logo-box">
			<img
				class="auth__logo"
				src="/assets/logo.svg"
				alt="SecretSpots logo" />
		</div>
		<hr class="auth__divider" />
		<div class="auth__heading heading-primary heading-primary--small">
			Login
		</div>
		<form action="/login" method="POST" class="form auth__form">
			<div class="form__group">
				<label for="username" class="form__label">Username</label>
				<input
					placeholder="Enter Username"
					type="text"
					class="form__input"
					id="username"
					name="username"
					autocomplete="username"
					required
					autofocus />
			</div>
			<div class="form__group">
				<label for="password" class="form__label">Password</label>
				<input
					placeholder="Enter Password"
					type="password"
					class="form__input"
					id="password"
					name="password"
					autocomplete="current-password"
					required />
			</div>
			<div class="form__group u-margin-top-small">
				<button class="btn">Submit</button>
				<small class="u-margin-top-tiny">
					Are you here first time?
					<a class="link" href="/register">Register</a>
				</small>
			</div>
		</form>
	</section>
</main>
